doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ask.css')
    script(href='//platform.twitter.com/widgets.js')
  body
    div.b-main
      | !{tweet}
      form(id="tweetform", action="https://twitter.com/intent/tweet", method="get")
        textarea(class="b-text", name="text", id="text", value="Сообщение писать сюда...", onblur="this.value = (this.value == '') ? 'Сообщение писать сюда...' : this.value", onfocus="this.value = (this.value == 'Сообщение писать сюда...') ? '' : this.value")
        input(type="hidden", name="in_reply_to", id="in_reply_to", value="#{reply_to}")
        button(type="submit", class="b-button") Отправить
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3260762-24']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
