doctype 5
html
  head
    title= title
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    link(rel="stylesheet", href="http://sovechkin.com/stylesheets/styles.css")
    link(rel="stylesheet", href="/stylesheets/labs.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cuprum|Open+Sans:300,400,600,700,800&subset=latin,cyrillic", media="screen")
  body
    block content