.b-main {
    width:502px;
    margin-left:-251px;
    position:absolute;
    left:50%;
    top:150px;
}
.b-text {
    display:block;
    height:70px;
    width:488px;
    background-color:white;
    border:1px solid #CCC;
    padding:5px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:20px;
}
.b-button {
    display:block;
}
